@font-face {
    font-family: 'OKGung';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/ok/OKGung.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/ok/OKGung.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/ok/OKGung.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/ok/OKGung.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/ok/OKGung.ttf') format("truetype");
    font-display: swap;
} 